* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.saira-stencil-one-regular {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}